@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  transition-property: background-color, color;
  transition-duration: 0.02s;
  transition-timing-function: ease-in-out;
} */

html {
  background-color: white;
  color: black;
}
html.dark {
  background-color: black;
  color: white;
}
