@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: all 0.2s ease;
  background-color: white;
  color: black;
}
html.dark {
  background-color: rgb(17, 13, 21);
  color: white;
}
